# keep images small
.git
__pycache__/
*.ipynb
.mlrun/
*.pt
*.onnx
artifacts/
data/
deploy/build/
**/CMakeCache.txt
**/cmake_install.cmake
**/CMakeFiles/
**/*.so
**/*.a
**/*.o
**/*.d
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache/
.ruff_cache/
mlruns/