pip
python-dotenv
pytest
ruff
pre-commit

ipython
ipykernel
ipywidgets
jupyterlab
notebook
gradio

numpy
pandas
matplotlib
scikit-learn
pyarrow
fastparquet
pyspark
shap
pillow

transformers[torch]
torch-tensorrt
torchvision
diffusers[torch]
peft
safetensors
accelerate
datasets
torchmetrics
recommenders
trl

onnx
onnxscript
onnxruntime
onnxruntime-gpu
onnxruntime-tools
optimum

mlflow
optuna
optuna-integration[mlflow]
optuna-dashboard
evaluate
lighteval

awscli

