awscli
ipython
jupyterlab
matplotlib
notebook
numpy
pandas
pip
pytest
python-dotenv
ruff
scikit-learn
recommenders
pyspark
pyarrow
fastparquet
transformers[torch]
mlflow
shap
torchmetrics
optuna
optuna-integration[mlflow]
optuna-dashboard
onnx
onnxscript
onnxruntime
onnxruntime-gpu
onnxruntime-tools
torch-tensorrt
torchvision
pre-commit
